<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Experience/education</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/6ebf17de6f.js"></script>
  
  <!-- Custom styles for this template-->
  <link href="../css/table_view-min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet" type="text/css">

  <script src="librerias/jquery-3.2.1.min.js"></script>
  <script src="js/funciones.js"></script>
  <script src="librerias/bootstrap/bootstrap.js>"></script>  
  <script src="librerias/alertifyjs/alertify.js>"></script>
</head>

<body class="bg-gradient-light">

 <div class="botones bg-dark"> 
    <div class="center">
        <p class="name">Mariana Navarro</p>
        <img src="../img/mashi.jpg" class="imagen"  alt="background">
    </div>
 </div>

  
 <div class=" "  style="width:100%; background-color:black;">
</div>


  
<div class="botones">
     
      <div class="navbar row"  style="width:100.8%;">
          
          <div class="container">

          <a href="Aboutme.html" class="col-2-sm">
            About me
          </a>

          <a href="Experience.html" class="col-2-sm">
            Experience/Education
          </a>

          <a href="Skills.html" class="col-2-sm">
            Skills
          </a>

          <a href="Contact.html" class="col-2-sm">
            Contact
          </a>

          
        </div>
        
      </div>
  
  
      <div class="container" style="width:60%;">
        <div class="row">

          <div class="col" style="font-size: 1em; margin-top: 10px;">
            <h4>Experience</h4>
            
            <p>Sanmina-SCI plant 8 (2019-today)</p>
            <p>Test Technician at the development area:</p>
            <p>Team in charge of developing internal requirement with kaizen philosophy, with solutions in the hardware and software development area.</p>
          </div>

          <div class="col" style="text-align:justify;  margin-top: 10px;">
            <h4>Education</h4>
            <p>2015-2019: Centro de Enseñanza Técnica Industrial CETI (Guadalajara, Jal)</p>
            <p>Technologist in drug chemistry.</p>
            <p>Project: Preparation of an oral solution as an aid for sleep disorders and
            depression with Hypericum perforatum (St. John's wort) and Passiflora incarnata (Passionflower)
            Degree method: Project</p>
          </div>

 
      
      </div>
    </div>




</div>


  
</body>


<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>

